* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
}

.row {
    width: 500px;
    height: 200px;
    background-color: orange;
    margin: auto;
    font-size: 0;
}

.col-1, .col-2 {
    font-size: 16px;
    color: white;
    padding: 5px;
    display: inline-block;
    vertical-align: top;
}

.col-1 {
    width: 30%;
    background-color: green;
    border: 3px solid black;
}

.col-2 {
    width: 70%;
    background-color: blue;
    border: 5px solid red;
}
